In [1]:
import pandas as pd
import numpy as np
import networkx as nx

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth, fpmax, association_rules

import matplotlib as mpl
import matplotlib.pyplot as plt
from itertools import chain

In [3]:
all_data = pd.read_csv('groceries - groceries.csv')
all_data

,Item(s),Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,4,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,17,sausage,chicken,beef,hamburger meat,citrus fruit,grapes,root vegetables,whole milk,butter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9831,1,cooking chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9832,10,chicken,citrus fruit,other vegetables,butter,yogurt,frozen dessert,domestic eggs,rolls/buns,rum,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9833,4,semi-finished bread,bottled water,soda,bottled beer,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9834,5,chicken,tropical fruit,other vegetables,vinegar,shopping bags,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
np_data = all_data.to_numpy()
np_data = [[elem for elem in row[1:] if isinstance(elem,str)] for row in np_data]

In [5]:
unique_items = set()
for row in np_data:
    for elem in row:
        unique_items.add(elem)

In [10]:
print(unique_items)

{'abrasive cleaner', 'soap', 'skin care', 'liver loaf', 'prosecco', 'cream', 'kitchen utensil', 'sugar', 'fruit/vegetable juice', 'packaged fruit/vegetables', 'zwieback', 'male cosmetics', 'flower (seeds)', 'canned vegetables', 'fish', 'ketchup', 'red/blush wine', 'chewing gum', 'decalcifier', 'cream cheese', 'organic products', 'honey', 'softener', 'brown bread', 'liqueur', 'mayonnaise', 'long life bakery product', 'salty snack', 'pudding powder', 'margarine', 'dessert', 'yogurt', 'herbs', 'curd cheese', 'turkey', 'detergent', 'hard cheese', 'other vegetables', 'brandy', 'ready soups', 'tropical fruit', 'organic sausage', 'baby food', 'baby cosmetics', 'berries', 'pastry', 'hamburger meat', 'pet care', 'salad dressing', 'cereals', 'rubbing alcohol', 'light bulbs', 'toilet cleaner', 'meat', 'misc. beverages', 'rolls/buns', 'mustard', 'pasta', 'bags', 'napkins', 'baking powder', 'syrup', 'dental care', 'house keeping products', 'Instant food products', 'cooking chocolate', 'spices', 'dish cleaner', 'hair spray', 'nut snack', 'frozen meals', 'roll products', 'cling film/bags', 'chocolate', 'spread cheese', 'sauces', 'seasonal products', 'jam', 'waffles', 'sound storage medium', 'vinegar', 'chicken', 'candy', 'beef', 'whipped/sour cream', 'onions', 'snack products', 'kitchen towels', 'condensed milk', 'pork', 'cake bar', 'curd', 'canned fruit', 'UHT-milk', 'nuts/prunes', 'tea', 'pickled vegetables', 'oil', 'specialty chocolate', 'potted plants', 'make up remover', 'salt', 'rum', 'butter', 'candles', 'citrus fruit', 'cookware', 'root vegetables', 'flour', 'popcorn', 'frozen chicken', 'specialty fat', 'canned fish', 'domestic eggs', 'bottled water', 'dishes', 'frozen vegetables', 'frankfurter', 'chocolate marshmallow', 'female sanitary products', 'frozen dessert', 'soft cheese', 'sausage', 'preservation products', 'white bread', 'artif. sweetener', 'rice', 'whole milk', 'processed cheese', 'specialty cheese', 'white wine', 'sliced cheese', 'coffee', 'flower soil/fertilizer', 'newspapers', 'sweet spreads', 'ice cream', 'specialty vegetables', 'tidbits', 'ham', 'liquor', 'frozen potato products', 'finished products', 'frozen fish', 'beverages', 'cocoa drinks', 'canned beer', 'potato products', 'butter milk', 'soda', 'pip fruit', 'bottled beer', 'shopping bags', 'dog food', 'grapes', 'instant coffee', 'hygiene articles', 'liquor (appetizer)', 'photo/film', 'soups', 'whisky', 'semi-finished bread', 'cat food', 'specialty bar', 'bathroom cleaner', 'frozen fruits', 'sparkling wine', 'meat spreads', 'cleaner'}

In [8]:
len(unique_items)

169

In [11]:
te = TransactionEncoder()
te_ary = te.fit(np_data).transform(np_data)
data = pd.DataFrame(te_ary, columns=te.columns_)

In [12]:
result = fpgrowth(data, min_support=0.03, use_colnames = True)
result

     support                             itemsets
0   0.082766                       (citrus fruit)
1   0.058566                          (margarine)
2   0.139502                             (yogurt)
3   0.104931                     (tropical fruit)
4   0.058058                             (coffee)
..       ...                                  ...
58  0.033249                 (whole milk, pastry)
59  0.047382  (other vegetables, root vegetables)
60  0.048907        (whole milk, root vegetables)
61  0.030605                (sausage, rolls/buns)
62  0.032232     (whole milk, whipped/sour cream)

[63 rows x 2 columns]

In [13]:
def min_max_support(result):
    support_stats = {}
    for _, [support, itemsets] in result.iterrows():
        set_size = len(itemsets)
        if set_size in support_stats:
            support_stats[set_size]["min"] = min(support, support_stats[set_size]["min"])
            support_stats[set_size]["max"] = max(support, support_stats[set_size]["max"])
        else:
            support_stats[set_size] = {"min": support, "max": support}
    return support_stats

In [15]:
pd.DataFrame(min_max_support(result)).T

        min       max
1  0.030402  0.255516
2  0.030097  0.074835

In [16]:
result = fpmax(data, min_support=0.03, use_colnames = True).sort_values('support', ascending=False)
result

     support                             itemsets
35  0.098526                      (shopping bags)
31  0.080529                       (bottled beer)
30  0.079817                         (newspapers)
29  0.077682                        (canned beer)
49  0.074835       (other vegetables, whole milk)
27  0.072293              (fruit/vegetable juice)
25  0.064870                        (brown bread)
24  0.063447                      (domestic eggs)
23  0.058973                        (frankfurter)
22  0.058566                          (margarine)
21  0.058058                             (coffee)
20  0.057651                               (pork)
48  0.056634             (whole milk, rolls/buns)
43  0.056024                 (whole milk, yogurt)
19  0.055414                             (butter)
18  0.053279                               (curd)
17  0.052466                               (beef)
16  0.052364                            (napkins)
15  0.049619                          (chocolate)
39  0.048907        (whole milk, root vegetables)
14  0.048094                  (frozen vegetables)
38  0.047382  (other vegetables, root vegetables)
42  0.043416           (other vegetables, yogurt)
13  0.042908                            (chicken)
47  0.042603       (other vegetables, rolls/buns)
37  0.042298         (tropical fruit, whole milk)
12  0.042095                        (white bread)
46  0.040061                   (soda, whole milk)
11  0.039654                       (cream cheese)
10  0.038434                            (waffles)
45  0.038332                   (soda, rolls/buns)
9   0.037824                        (salty snack)
8   0.037417           (long life bakery product)
7   0.037112                            (dessert)
36  0.035892   (other vegetables, tropical fruit)
40  0.034367          (bottled water, whole milk)
41  0.034367                 (yogurt, rolls/buns)
6   0.033859                              (sugar)
5   0.033452                           (UHT-milk)
33  0.033249                 (whole milk, pastry)
3   0.033249                            (berries)
4   0.033249                     (hamburger meat)
2   0.032944                   (hygiene articles)
44  0.032740             (other vegetables, soda)
26  0.032232     (whole milk, whipped/sour cream)
1   0.031012                             (onions)
34  0.030605                (sausage, rolls/buns)
32  0.030503           (citrus fruit, whole milk)
0   0.030402                (specialty chocolate)
28  0.030097              (pip fruit, whole milk)

In [18]:
pd.DataFrame(min_max_support(result)).T

        min       max
1  0.030402  0.098526
2  0.030097  0.074835